body {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
body * {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
}

div {
	width: 100%;
}


a {
	text-decoration: none;
	cursor: default;
}

img {
	align-self: flex-start;
}

ul, li, a, i {
	align-self: stretch;
}

ul, menu, dir {
	margin: 0;
	padding: 0;
}

script, style {
	display: none;
}
