/*
 *
 * Elladoria Screen
 * ================================
 * Compiles the Various SASS Sub-sheets to Build the Base Stylesheet for Web Display
 *
 *
 * NAMING  CONVENSIONS  LEGEND
 * ================================
 *
 * someName									-	A Block Module Base Definition
 * someName--SomeElement					-	Style for an Element of the Block Module 'someName'
 * someName__SomeState						-	Style for a Variant (non-base) State of the Block Module 'someName'
 * someName--SomeElement__SomeState			-	Style for a Variant (non-base) State of the Element 'SomeElement' of the Block Module 'someName'
 * __SomeStyleName							-	A Visual Only Style - No Layout, Spacing, Size, etc. Rules are Included
 *
 *
 * Z_INDEX LEVEL NOTES
 * ================================
 *
 * Page Header :  500
 * Page Body Div :  1
 * Page Footer Div :  2
 *
 * UItoTop Button :  50
 * Lightbox Popups (PrettyPhoto or Magnific Popup) :  10,000 - 10,010
 *
 * VideoJS @ Fullscreen :  1,000
 *
 *
 *
 * In the Compiled CSS this Comment Block will be Immediately Followed by...
 *
 * -- Compass CSS Reset --
 * ======================= */


 @charset "UTF-8";
 @import "compass/reset";// A comment

 body {
	 text-align : center;
 }

 .template.title {
	 font-size: 48px;
	 color:green;
	 padding-left: 0;
	 padding-right: 0;
	 margin-bottom: 1.6rem;
	 margin-top: 2rem;
 }

 .home-description {
	 width: 60%;
	 margin: 3rem auto;
 }

 p {
	 @include Type_MainBody();
	 text-align: justify;
 }

 .test-group-lists {
	 h3 {
		 font-size: 3rem;
		 margin-bottom: 2rem;
	 }
	 a {
		 font-size: 2rem;
		 text-decoration: none;
		 cursor: pointer;
		 color: #666666;
	 }
	 a:hover {
		 color: #444444;
	 }
	 li {
		 padding-bottom: 1rem;
	 }
	 .new-class:FakePseudo {

	 }
	 .new-class::FakePseudo2 {
		 @media screen and (myFeature) {

		 }
		 @fake-at-rule {

		 } /*
		 */
	 }

	 a:hover {
		 color: #000000;;
	 }
 }
