/*
 *
 * Elladoria Screen
 * ================================
 * Compiles the Various SASS Sub-sheets to Build the Base Stylesheet for Web Display
 *
 *
 * NAMING  CONVENSIONS  LEGEND
 * ================================
 *
 * someName									-	A Block Module Base Definition
 * someName--SomeElement					-	Style for an Element of the Block Module 'someName'
 * someName__SomeState						-	Style for a Variant (non-base) State of the Block Module 'someName'
 * someName--SomeElement__SomeState			-	Style for a Variant (non-base) State of the Element 'SomeElement' of the Block Module 'someName'
 * __SomeStyleName							-	A Visual Only Style - No Layout, Spacing, Size, etc. Rules are Included
 *
 *
 * Z_INDEX LEVEL NOTES
 * ================================
 *
 * Page Header :  500
 * Page Body Div :  1
 * Page Footer Div :  2
 *
 * UItoTop Button :  50
 * Lightbox Popups (PrettyPhoto or Magnific Popup) :  10,000 - 10,010
 *
 * VideoJS @ Fullscreen :  1,000
 *
 *
 *
 * In the Compiled CSS this Comment Block will be Immediately Followed by...
 *
 * -- Compass CSS Reset --
 * ======================= */


// Base Setup (using Compass Version of CSS Reset)
// ==============================================================
@charset "UTF-8";
@import "compass/reset";


// Set Preferences for Vendor-Prefixing via Mixins
// ==============================================================
$support-for-original-webkit-gradients : true;				// Safari and Chrome


// Import Desired Compass Mixins for Vendor-Prefixing Support
// ==============================================================
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/transform";


// Component CSS to Include in this Stylesheet
// ==============================================================
@import "_sass_code/all";
@import "layout/media_breaks";
@import "_styleguides-sass_constants/all";
@import "layout/base_elements";

@import "compass/reset";

// Configure Values and Setup Waffle-Grid
// ==============================================================
$grid-width: 1263px;
$grid-max-width: 100%;
$grid-classname: "waffle-grid";
$row-classname: "waffle-row";
$column-classname: "waffle-col";
$container-classname: "waffle-container";
@import "a_third_party/waffle-grid";

body {
	text-align : center;
}

.template.title {
	font-size: 48px;
	color:green;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 1.6rem;
	margin-top: 2rem;
}

.home-description {
	width: 60%;
	margin: 3rem auto;
}

p {
	@include Type_MainBody();
	text-align: justify;
}

.test-group-lists {
	h3 {
		font-size: 3rem;
		margin-bottom: 2rem;
	}
	a {
		font-size: 2rem;
		text-decoration: none;
		cursor: pointer;
		color: #666666;
	}
	a:hover {
		color: #444444;
	}
	li {
		padding-bottom: 1rem;
	}
	.new-class:FakePseudo {

	}
	.new-class::FakePseudo2 {
		@media screen and (myFeature) {

		}
		@fake-at-rule {

		} /*
		*/
	}

	a:hover {
		color: #000000;;
		margin: calc(50.663666% + 6px);
	}

	@keyframes myKeyfames {
		from {
			margin-top: 50px;
		}
		to {
			margin-top: 100px;
		}
	}

	@keyframes foo-myKeyfames {
		from {
			margin-top: 50px;
		}
		to {
			margin-top: 100px !important;
		}
	}

	div {
		animation: 80ms;
	}
}
