
/*
* Components : _buttons
* ===================================
*/

button {
	color: #4C4C4C;
	background-color: #d4d4d4;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 17px;
	padding-bottom: 10px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 4px;
	display: flex;
	border: 3px solid #8b8b8b;
	font-family: 'Cookie';
	font-size: 30px;
}

button:hover {
	border: 3px solid #FFFFFF;
	background-color: #007305;
	color: #FFFFFF
}

button:active {
	border: 3px solid #FFFFFF;
	background-color: #8b8b8b;
	color: #FFFFFF
}



