

// _colors
// ============================================== 
// Site Color Style-Guide.
// This Defines SASS Variables Only and Its Content is Inserted Where Appropriate.
// Nothing from this File will Appear Directly in the Compiled CSS


$color_mainBackground: #EFDFDF;
$color_GreyDark: #333333;
$color_GreyMid: #555555;
$color_GreyMidLite: #6E6E6E;
$color_GreyLite: #A3A3A3;
$color_InlineLink: #943434;

$color_DeepRed: #943434;
