
/*
 * Typography
 * ===================================
 */
 html {
	font-size: 62.5%;
	font-size: 10px;
}

$FontBody: "Sorts Mill Goudy";
$FontHeaders: "Sorts Mill Goudy";
$FontCode: "";

// Font Sets Should be Defined as Mixin Font-Family Rules to be Properly Validated by Stylelint
// Sets Defined Simply as Lists in Variables are Not Examined by Stylelint's Font-Family Tests
@mixin FontSet_Headers() {
	font-family: $FontHeaders, Tahoma, Geneva, Arial, sans-serif;
}

@mixin FontSet_Sans() {
	font-family: Tahoma, Geneva, Arial, sans-serif;
}

@mixin FontSet_Serif() {
	font-family: $FontHeaders, Times, serif;
}

@mixin FontSet_HandWriting() {
	font-family: $FontHeaders, serif;
}



// General Use Typography Mixins
// ====================================================
// Quick Mixins for the Base Typography Rules Used Consistantly.
// Compiled into Rules that Use Them.

@mixin Type_MainBody() {
	font-family: $FontBody;
	font-style: normal;
	font-weight: normal;

	@include set-font-size(16);

}


@mixin Type_MainHeader() {
	font-family: $FontBody;

	@include set-font-size(36);

}


/* -- Base Font Definitions -- */
/*_____________________________*/

/* League Gothic - Standard */
@font-face {
	font-family: "Sorts Mill Goudy";
	src: url('/fonts/GoudyStM-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Cookie";
	src: url('/fonts/cookie-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Droid Sans";
	src: url('/fonts/DroidSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Droid Sans";
	src: url('/fonts/DroidSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Lora";
	src: url('/fonts/Lora-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lora";
	src: url('/fonts/Lora-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Lora";
	src: url('/fonts/Lora-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Lora";
	src: url('/fonts/Lora-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

