/*
 *
 * Elladoria Screen
 * ================================
 * Compiles the Various SASS Sub-sheets to Build the Base Stylesheet for Web Display
 *
 *
 * NAMING  CONVENSIONS  LEGEND
 * ================================
 *
 * someName									-	A Block Module Base Definition
 * someName--SomeElement					-	Style for an Element of the Block Module 'someName'
 * someName__SomeState						-	Style for a Variant (non-base) State of the Block Module 'someName'
 * someName--SomeElement__SomeState			-	Style for a Variant (non-base) State of the Element 'SomeElement' of the Block Module 'someName'
 * __SomeStyleName							-	A Visual Only Style - No Layout, Spacing, Size, etc. Rules are Included
 *
 *
 * Z_INDEX LEVEL NOTES
 * ================================
 *
 * Page Header :  500
 * Page Body Div :  1
 * Page Footer Div :  2
 *
 * UItoTop Button :  50
 * Lightbox Popups (PrettyPhoto or Magnific Popup) :  10,000 - 10,010
 *
 * VideoJS @ Fullscreen :  1,000
 *
 *
 *
 * In the Compiled CSS this Comment Block will be Immediately Followed by...
 *
 * -- Compass CSS Reset --
 * ======================= */


// Base Setup (using Compass Version of CSS Reset)
// ==============================================================
@charset "UTF-8";


// Hummingbird Normalize
// ==============================================================

@import "a_third_party/hummingbird_normalize";


// Component CSS to Include in this Stylesheet
// ==============================================================
@import "_sass_code/all";
@import "elements/all";
@import "_styleguides-sass_constants/all";


body {
	@include Type_MainBody();
	text-align : center;

	@include set-font-size(24);

	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	align-items: center;
}

h1, h2, h3, h4, h5, h6 {
	@include Type_MainBody();
}

h1 {
	@include set-font-size(50);
}
h2 {
	@include set-font-size(40);
}
h3 {
	@include set-font-size(30);
}

.messages {
	width: 100vw;
	height: 70vh;
	background-color: #FF6666;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-evenly;
	@include Type_MainBody();
}

.messages div {
	width: 100vw;
	@include Type_MainBody();
}

.hello {
	color: #3333FF;
}

.in-message-image {
	position: absolute;
	right: 35px;
	bottom: 10px;
}
