
.messages {
	background-color: #66FF66;
	font-family: 'Lora';
}

.messages div {
	font-family: 'Lora';
}

.messages .title {
	background-image: url("./images/ReactJS_Badge.svg");
}

.hello {
	color: #FF3333;
}
